body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #eb895b;
    color: #fff;
    padding: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin: 20px;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dd9cf7;
}

button {
    background-color: #a8cbf3;
    color: #b6adad;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #96c3f7;
}

#tablaResultado {
    margin: 20px;
    padding: 20px;
    background-color: #a7a1a1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que las imágenes se ajusten automáticamente al tamaño del contenedor */
}

#tablaResultado img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}

@media (min-width: 700px) {
    #header-container {
        position: relative; 
        background-color: transparent; /* Fondo transparente */
    }
    
    label, select, button {
        margin: 10px;
        font-size: 20px; /* Aumentar el tamaño de fuente */
        background-color: #d666d6;
        color: #fff;
    }
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}