body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #0074a9;
    color: white;
    padding: 20px;
    margin: 0;
    text-align: center;
}

div {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

input[type="range"] {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f5f5f5;
    padding: 10px;
    margin: 5px 0;
}

button {
    display: block;
    background-color: #0074a9;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #005d91;
}

